div{
   
    margin: 4px;
}

.resume-wrapper{
    width: 900px;
}

.resume-block-wrapper-header{
}

.resume-block-content{
    display: flex;
    flex-wrap: nowrap;
}

.resume-block-content-left{
    display: flex;
    align-items: center;
    width: 15%; 
}

.resume-block-content-righ{
    width: 85%;
}

.resume-block-content-right-header{
}

.resume-block-content-right-desciption{
}

.resume-block-content-right-desciption ul{
    padding-inline-start: 10px;
    list-style-type: none;
}

.img-wrapper{
}

.photo{
    width: 50%;
}

